name: test
on:
  workflow_dispatch:
    inputs:
      flutter_version:
        description: 'Flutter Version'
        required: false
        default: 'any'
        type: choice
        options:
          - 'any'
          - '3.32.x'
          - '3.27.x'
      flutter_channel:
        description: 'Flutter Channel'
        required: false
        default: 'stable'
        type: choice
        options:
          - 'stable'
          - 'beta'
          - 'dev'
          - 'master'
      fatal_warnings:
        description: 'Treat warnings as fatal'
        required: false
        default: true
        type: boolean

  workflow_call:
    inputs:
      flutter_version:
        required: false
        default: '3.32.8'
        type: string
      flutter_channel:
        required: false
        default: 'stable'
        type: string
      fatal_warnings:
        required: false
        default: true
        type: boolean

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ inputs.flutter_version }}
          channel: ${{ inputs.flutter_channel }}
      - uses: bluefireteam/melos-action@v3
      - run: dart analyze
      - run: melos format --ignore=material_duration_picker --set-exit-if-changed
      - run: melos run test
